
span
{
	font-size: 20px;
	color: red;
}
canvas
{
	background: rgb(252, 176, 188);
	border-radius: 20px;
}

h3{
    color: blue;
    font-size: 30px;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}