body{
    text-align: center;
}

#btn1{
    width: 100px;
    height: 35px;
}

#btn2{
    width: 100px;
    height: 35px;
}

#btn3{
    width: 100px;
    height: 35px;
}

#btn4{
    width: 100px;
    height: 35px;
}





